.aboutMeMain h1{
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.aboutMeMain .aboutMeTitleHr{
    height: 2px;
    border: none;
    background-color: rgb(188,143,143);
    width: 25px;
    margin-top: 5px;
    margin-bottom: 0;
}
.aboutMeMain .aboutMeSlogan{
    text-align: center;
    color: rgb(128,128,128);
    margin: 0;
    font-size: 8px;
    margin-top: 5px;
}
.aboutMeMain .threeBox{
    display: flex;
}
.aboutMeMain .threeBox hr{
    border: none;
    background-color: rgb(188,143,143);
    height: 1.5px;
}
.aboutMeMain .picSlogn{
    padding-top: 10px;
    position: relative;
}
.aboutMeMain .picSlogn .picContent{
    padding-left: 5px;
    padding-right: 5px;
}
.aboutMeMain .picSlogn .picContent .picContentBr{
    display: none;
}
.aboutMeMain .picSlogn .picContent img{
    width: 40%;
    float: left;
    padding-left: 5px;
    padding-right: 8px;
}
.aboutMeMain .picSlogn .picContent p{
    font-size: 8px;
    line-height: 12px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 14px;
}
.aboutMeMain .picSlogn .col-phone-60{
    position: absolute;
    top: 15px;
    right: 0;
}
.aboutMeMain .picSlogn .col-phone-60 .col-phone-30 p{
    font-size: 10px;
    font-weight: 900;
    margin-bottom: 0;
    text-align: center;
}
.aboutMeMain .picSlogn .col-phone-60 .col-phone-30 hr{
    height: 3px;
    border: none;
    background-color: rgb(188,143,143);
    width: 35px;
}
.aboutMeMain .picSlogn .col-phone-60 .col-phone-70 p{
    font-size: 8px;
    margin: 0;
    color: rgb(182,182,182);
    line-height: 14px;
    font-weight: 900;
} 
.aboutMeMain .picSlogn .col-phone-60 .col-phone-70 hr{
    margin: 0;
    height: 10px;
    border: none;
}
@media(min-width:420px){
    .aboutMeMain h1{
        font-size: 13px;
    }
    .aboutMeMain .aboutMeTitleHr{
        width: 30px;
    }
    .aboutMeMain .aboutMeSlogan{
        font-size: 9px;
    }
    .aboutMeMain .picSlogn .col-phone2-60{
        top: 15px;
    }
    .aboutMeMain .picSlogn .col-phone2-60 .col-phone2-40 p{
        font-size: 12px;
    }
    .aboutMeMain .picSlogn .col-phone2-60 .col-phone2-40 hr{
        height: 3px;
        border: none;
        background-color: rgb(188,143,143);
        width: 35px;
    }
    .aboutMeMain .picSlogn .col-phone2-60 .col-phone2-60 p{
        font-size: 9px;
        margin: 0;
        color: rgb(182,182,182);
        line-height: 14px;
        font-weight: 900;
    } 
    .aboutMeMain .picSlogn .col-phone2-60 .col-phone2-60 hr{
        margin: 0;
        height: 10px;
        border: none;
    }
}
@media(min-width:576px){
    .aboutMeMain h1{
        font-size: 15px;
    }
    .aboutMeMain .aboutMeTitleHr{
        width: 32px;
    }
    .aboutMeMain .aboutMeSlogan{
        font-size: 10px;
    }
    .aboutMeMain .picSlogn .col-phone2-60 .col-phone2-40 p{
        font-size: 14px;
    }
    .aboutMeMain .picSlogn .col-phone2-60 .col-phone2-60 p{
        font-size: 11px;
        line-height: 16px;
    } 
    .aboutMeMain .picSlogn .col-phone2-60 .col-phone2-60 hr{
        height: 8px;
    }
    .aboutMeMain .picSlogn .picContent img{
        width: 43%;
        padding-right: 10px;
    }
    .aboutMeMain .picSlogn .picContent p{
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 3px;
    }
    .aboutMeMain .picSlogn .picContent .picContentBr{
        display: block;
    }
}
@media(min-width:768px){
    .aboutMeMain h1{
        font-size: 17px;
    }
    .aboutMeMain .aboutMeTitleHr{
        height: 3px;
        width: 35px;
    }
    .aboutMeMain .aboutMeSlogan{
        font-size: 12px;
    }
    .aboutMeMain .picSlogn .col-tablet-50 .col-tablet-40 p{
        font-size: 16px;
    }
    .aboutMeMain .picSlogn .col-tablet-50 .col-tablet-40 hr{
        width: 40px;
    }
    .aboutMeMain .picSlogn .col-tablet-50 .col-tablet-60 p{
        font-size: 13px;
        line-height: 22px;
    } 
    .aboutMeMain .picSlogn .col-tablet-50 .col-tablet-60 hr{
        height: 16px;
    }
    .aboutMeMain .picSlogn .picContent img{
        width: 50%;
        padding-right: 15px;
    }
    .aboutMeMain .picSlogn .picContent p{
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 4px;
    }
}
@media(min-width:992px){
    .aboutMeMain h1{
        font-size: 20px;
    }
    .aboutMeMain .aboutMeTitleHr{
        height: 3px;
        width: 40px;
    }
    .aboutMeMain .aboutMeSlogan{
        font-size: 14px;
    }
    .aboutMeMain .picSlogn .col-desktop-50 .col-desktop-40 p{
        font-size: 18px;
    }
    .aboutMeMain .picSlogn .col-desktop-50 .col-desktop-40 hr{
        width: 43px;
    }
    .aboutMeMain .picSlogn .col-desktop-50 .col-desktop-60 p{
        font-size: 16px;
        line-height: 24px;
    } 
    .aboutMeMain .picSlogn .col-desktop-50 .col-desktop-60 hr{
        height: 14px;
    }
    .aboutMeMain .picSlogn .picContent img{
        width: 50%;
        padding-right: 25px;
    }
    .aboutMeMain .picSlogn .picContent p{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 5px;
    }
}