.classOrderMain{
    padding-top: 30px;
}
.classOrderMain .classOrderSectionOne,.classOrderMain .classOrderSectionTwo,.classOrderMain .classOrderSectionThree{
    background-color: rgb(243,243,243);
    padding-bottom: 3px;
    padding-top: 3px;
}
.classOrderMain .classOrderSectionTwo,.classOrderMain .classOrderSectionThree{
    margin-top: 5px;
}
.classOrderMain .classOrderSectionOne h1,.classOrderMain .classOrderSectionTwo h1,.classOrderMain .classOrderSectionThree h1{
    font-size: 12px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.classOrderMain .classOrderSectionOne hr{
    height: 2px;
    border: none;
    background-color: rgb(188,143,143);
    width: 30px;
    margin-top: 5px;
}
.classOrderMain .classOrderSectionOne .sectionOneContent{
    padding-left: 15px;
}
.classOrderMain .classOrderSectionOne .sectionOneContent span{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(188,143,143);
}
.classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside{
    padding-left: 40px;
}
.classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside p{
    font-size: 9px;
    font-weight: 900;
    letter-spacing: 1px;
}
.classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside hr{
    background-color: transparent;
}
.classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside p a{
    text-decoration: none;
    color: rgb(188,143,143);
}
.classOrderMain .classOrderSectionTwo{
    display: flex;
    flex-direction: column;
}
.classOrderMain .classOrderSectionTwo .imgBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.classOrderMain .classOrderSectionTwo img{
    width: 18%;
    margin-top: 3px;
}
.classOrderMain .classOrderSectionTwo p{
    font-size: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 900;
}
.classOrderMain .classOrderSectionTwo p a{
    text-decoration: none;
    color: rgb(188,143,143);
}
.classOrderMain .classOrderSectionTwo hr{
    width: 40px;
    height: 3px;
    border: none;
    background-color: rgb(188, 143, 143);
    margin-top: 3px;
}
.classOrderMain .classOrderSectionTwo table{
    border-collapse: collapse;
    border: 2px solid rgb(188,143,143);
    text-align: center;
    font-weight: 900;
}
.classOrderMain .classOrderSectionTwo table tr td{
    border: 1px solid rgb(188,143,143);
    padding: 2px;
}
.classOrderMain .classOrderSectionTwo table tr .dataAndTime{
    color: rgb(188,143,143);
    font-size: 8px;
    letter-spacing: 2px;
}
.classOrderMain .classOrderSectionTwo table tr .dataContent{
    font-size: 6px;
    letter-spacing: 2px;
    height: 35px;
}
.classOrderMain .classOrderSectionTwo table tr .dataContentColor{
    background-color: rgb(188, 143, 143);
    color: #fff;
}
.classOrderMain .classOrderSectionTwo .personal{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.classOrderMain .classOrderSectionTwo .personal p{
    font-size: 10px;
    font-weight: 900;
}
.classOrderMain .classOrderSectionTwo .personal span{
    font-size: 9px;
    padding-left: 30px;
    padding-right: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}
.classOrderMain .classOrderSectionTwo .orderTime{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.classOrderMain .classOrderSectionTwo .orderTime p{
    font-size: 10px;
    font-weight: 900;
}
.classOrderMain .classOrderSectionTwo .orderTime span{
    font-size: 9px;
    font-weight: 900;
    padding-left: 20px;
}
.classOrderMain .classOrderSectionThree{
    padding-left: 10px;
    padding-right: 10px;
}
.classOrderMain .classOrderSectionThree hr{
    height: 3px;
    border: none;
    background-color: rgb(188,143,143);
    width: 30px;
    margin-top: 4px;
}
.classOrderMain .classOrderSectionThree p{
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.classOrderMain .classOrderSectionThree h2{
    font-size: 12px;
    color: rgb(188,143,143);
    letter-spacing: 2px;
    
}
.classOrderMain .classOrderSectionThree .contentBox{
    padding-left: 30px;
}
.classOrderMain .classOrderSectionThree span{
    font-size: 8px;
    font-weight: 900;
    letter-spacing: 2px;
}
.classOrderMain .classOrderSectionThree .noticeP{
    color: rgb(128,128,128);
    font-size: 8px;
    text-align: center;
}
@media(min-width:390px){
    .classOrderMain .classOrderSectionOne h1,.classOrderMain .classOrderSectionTwo h1,.classOrderMain .classOrderSectionThree h1{
        font-size: 14px;
    }
    .classOrderMain .classOrderSectionOne hr{
        height: 3px;
        width: 35px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent{
        padding-left: 20px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside{
        padding-left: 50px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside p{
        font-size: 10px;
    }
    .classOrderMain .classOrderSectionTwo p{
        font-size: 9px;
    }
    .classOrderMain .classOrderSectionTwo table tr td{
        border: 1px solid rgb(188,143,143);
        padding: 1px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataAndTime{
        font-size: 9px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataContent{
        font-size: 7px;
        letter-spacing: 2px;
    }
    .classOrderMain .classOrderSectionTwo .personal{
        padding-left: 20px;
        padding-top: 5px;
    }
    .classOrderMain .classOrderSectionTwo .personal p{
        font-size: 12px;
        font-weight: 900;
    }
    .classOrderMain .classOrderSectionTwo .personal span{
        font-size: 10px;
        font-weight: 900;
        padding-left: 40px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime{
        display: flex;
        flex-direction: column;
        font-weight: 900;
        padding-left: 40px;
    }
    .classOrderMain .classOrderSectionThree{
        padding-left: 15px;
    }
    .classOrderMain .classOrderSectionThree hr{
        width: 35px;
    }
    .classOrderMain .classOrderSectionThree p{
        font-size: 11px;
    }
    .classOrderMain .classOrderSectionThree h2{
        font-size: 13px;                
    }
    .classOrderMain .classOrderSectionThree .contentBox{
        padding-left: 35px;
    }
    .classOrderMain .classOrderSectionThree span{
        font-size: 9px;
        font-weight: 900;
    }
    .classOrderMain .classOrderSectionThree .noticeP{
        font-size: 9px;
    }
}
@media(min-width:420px){
    .classOrderMain{
        padding-top: 40px;
    }
    .classOrderMain .classOrderSectionOne h1,.classOrderMain .classOrderSectionTwo h1,.classOrderMain .classOrderSectionThree h1{
        font-size: 15px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent{
        padding-left: 25px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent span{
        font-size: 13px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside{
        padding-left: 55px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside p{
        font-size: 11px;
    }
    .classOrderMain .classOrderSectionTwo p{
        font-size: 10px;
    }
    .classOrderMain .classOrderSectionTwo table tr td{
        padding: 1px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataAndTime{
        font-size: 10px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataContent{
        font-size: 8px;
    }
    .classOrderMain .classOrderSectionTwo .personal{
        padding-left: 25px;
        padding-top: 8px;
    }
    .classOrderMain .classOrderSectionTwo .personal p{
        font-size: 13px;
        font-weight: 900;
    }
    .classOrderMain .classOrderSectionTwo .personal span{
        font-size: 11px;
        font-weight: 900;
        padding-left: 40px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime{
        padding-left: 45px;
        padding-top: 5px;
        font-weight: 900;
    }
    .classOrderMain .classOrderSectionTwo .orderTime p{
        font-size: 11px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime span{
        padding-left: 20px;
        padding-top: 5px;
    }
}
@media(min-width:576px){
    .classOrderMain{
        padding-top: 54px;
    }
    .classOrderMain .classOrderSectionOne h1,.classOrderMain .classOrderSectionTwo h1,.classOrderMain .classOrderSectionThree h1{
        font-size: 16px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent{
        padding-left: 40px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent span{
        font-size: 16px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside{
        padding-left: 75px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside p{
        font-size: 12px;
    }
    .classOrderMain .classOrderSectionTwo p{
        font-size: 11px;
    }
    .classOrderMain .classOrderSectionTwo table tr td{
        padding: 2px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataAndTime{
        font-size: 12px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataContent{
        font-size: 10px;
    }
    .classOrderMain .classOrderSectionTwo .personal{
        padding-left: 35px;
        padding-top: 10px;
    }
    .classOrderMain .classOrderSectionTwo .personal p{
        font-size: 14px;
    }
    .classOrderMain .classOrderSectionTwo .personal span{
        font-size: 12px;
        padding-left: 45px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime{
        padding-left: 55px;
        padding-top: 10px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime p{
        font-size: 12px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime span{
        font-size: 10px;
        padding-left: 30px;
        padding-top: 10px;
    }
    .classOrderMain .classOrderSectionThree{
        padding-left: 20px;
    }
    .classOrderMain .classOrderSectionThree hr{
        width: 35px;
    }
    .classOrderMain .classOrderSectionThree p{
        font-size: 12px;
        padding-left: 10px;
    }
    .classOrderMain .classOrderSectionThree h2{
        font-size: 14px;                
    }
    .classOrderMain .classOrderSectionThree .contentBox{
        padding-left: 45px;
    }
    .classOrderMain .classOrderSectionThree span{
        font-size: 10px;
    }
    .classOrderMain .classOrderSectionThree .noticeP{
        font-size: 12px;
    }
}
@media(min-width:768px){
    .classOrderMain{
        padding-top: 60px;
    }
    .classOrderMain .classOrderSectionOne h1,.classOrderMain .classOrderSectionTwo h1,.classOrderMain .classOrderSectionThree h1{
        font-size: 18px;
        letter-spacing: 5px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent{
        padding-left: 50px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent span{
        font-size: 18px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside{
        padding-left: 85px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside p{
        font-size: 14px;
    }
    .classOrderMain .classOrderSectionTwo p{
        font-size: 12px;
    }
    .classOrderMain .classOrderSectionTwo hr{
        width: 55px;
        margin-top: 5px;
    }
    .classOrderMain .classOrderSectionTwo table tr td{
        padding: 2px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataAndTime{
        font-size: 14px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataContent{
        font-size: 12px;
    }
    .classOrderMain .classOrderSectionTwo .personal{
        padding-left: 40px;
        padding-top: 15px;
    }
    .classOrderMain .classOrderSectionTwo .personal p{
        font-size: 16px;
    }
    .classOrderMain .classOrderSectionTwo .personal span{
        font-size: 13px;
        padding-left: 45px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime{
        padding-left: 65px;
        padding-top: 10px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime p{
        font-size: 13px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime span{
        font-size: 12px;
        padding-left: 40px;
        padding-top: 15px;
    }
    .classOrderMain .classOrderSectionThree{
        padding-left: 20px;
    }
    .classOrderMain .classOrderSectionThree hr{
        width: 40px;
    }
    .classOrderMain .classOrderSectionThree p{
        font-size: 14px;
        padding-left: 15px;
    }
    .classOrderMain .classOrderSectionThree h2{
        font-size: 16px;                
    }
    .classOrderMain .classOrderSectionThree .contentBox{
        padding-left: 50px;
    }
    .classOrderMain .classOrderSectionThree span{
        font-size: 11px;
    }
    .classOrderMain .classOrderSectionThree .noticeP{
        font-size: 14px;
    }
}
@media(min-width:992px){
    .classOrderMain{
        padding-top: 64px;
    }
    .classOrderMain .classOrderSectionOne h1,.classOrderMain .classOrderSectionTwo h1,.classOrderMain .classOrderSectionThree h1{
        font-size: 22px;
        letter-spacing: 5px;
    }
    .classOrderMain .classOrderSectionOne hr{
        height: 3px;
        width: 55px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent{
        padding-left: 65px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent span{
        font-size: 20px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside{
        padding-left: 105px;
    }
    .classOrderMain .classOrderSectionOne .sectionOneContent .sectionOneContentInside p{
        font-size: 16px;
    }
    .classOrderMain .classOrderSectionTwo p{
        font-size: 14px;
    }
    .classOrderMain .classOrderSectionTwo hr{
        width: 65px;
        margin-top: 5px;
    }
    .classOrderMain .classOrderSectionTwo table tr td{
        padding: 2px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataAndTime{
        font-size: 16px;
    }
    .classOrderMain .classOrderSectionTwo table tr .dataContent{
        font-size: 14px;
    }
    .classOrderMain .classOrderSectionTwo .personal{
        padding-left: 50px;
        padding-top: 18px;
    }
    .classOrderMain .classOrderSectionTwo .personal p{
        font-size: 20px;
    }
    .classOrderMain .classOrderSectionTwo .personal span{
        font-size: 15px;
        padding-left: 65px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime{
        padding-left: 85px;
        padding-top: 12px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime p{
        font-size: 16px;
    }
    .classOrderMain .classOrderSectionTwo .orderTime span{
        font-size: 14px;
        padding-left: 50px;
        padding-top: 16px;
    }
    .classOrderMain .classOrderSectionThree{
        padding-left: 30px;
    }
    .classOrderMain .classOrderSectionThree hr{
        width: 50px;
    }
    .classOrderMain .classOrderSectionThree p{
        font-size: 16px;
        padding-left: 15px;
    }
    .classOrderMain .classOrderSectionThree h2{
        font-size: 18px;                
    }
    .classOrderMain .classOrderSectionThree .contentBox{
        padding-left: 50px;
    }
    .classOrderMain .classOrderSectionThree span{
        font-size: 13px;
    }
    .classOrderMain .classOrderSectionThree .noticeP{
        font-size: 16px;
    }
}