footer{
    background-color: rgb(188,143,143);
    margin-top: 5px;
    padding-bottom: 10px;
}
footer .col-phone-100 .col-phone-70{
    text-align: end;
}
footer .col-phone-100 .col-phone-70 span{
    color: #fff;
    font-weight: 500;
    font-size: 6px;
    margin: 0;
    border-bottom: 2px dashed #fff;
    padding-bottom: 2px;
    margin-right: 10px;
}
footer .col-phone-100 .col-phone-30 a{
    width: 18px;
    height: 18px;
    margin-top: 11px;
    margin-left: 15px;
}
footer .col-phone-100 .col-phone-30 a img{
    width: 100%;
}
@media(min-width:390px){
    footer .col-phone-100 .col-phone-70 span{
        font-size: 8px;
        margin: 0;
        margin-right: 10px;
    }
    footer .col-phone-100 .col-phone-30 a{
        width: 20px;
        height: 20px;
        margin-top: 11px;
        margin-left: 18px;
    }
    footer .col-phone-100 .col-phone-30 a img{
        width: 100%;
    }
}
@media(min-width:420px){
    footer .col-phone-100 .col-phone-70 span{
        font-size: 9px;
        margin: 0;
        margin-right: 10px;
    }
    footer .col-phone-100 .col-phone-30 a{
        width: 22px;
        height: 22px;
        margin-top: 11px;
        margin-left: 20px;
    }
}
@media(min-width:576px){
    footer .col-phone2-100{
        display: flex;
    }
    footer .col-phone2-100 .col-phone2-40 a{
        width: 30px;
        height: 30px;
        margin-top: 12px;
        margin-left: 25px;
    }
    footer .col-phone2-100 .col-phone2-60 span{
        font-size: 12px;
        margin-right: 15px;
        border-bottom: 3px dashed #fff;
    }
}
@media(min-width:768px){
    footer .col-tablet-100{
        display: flex;
    }
    footer .col-tablet-100 .col-tablet-40 a{
        width: 45px;
        height: 45px;
        margin-top: 15px;
        margin-left: 35px;
    }
    footer .col-tablet-100 .col-tablet-60 span{
        font-size: 14px;
        line-height: 30px;
    }
}
@media(min-width:992px){
    footer .col-tablet-100{
        display: flex;
    }
    footer .col-tablet-100 .col-tablet-40 a{
        width: 52px;
        height: 52px;
        margin-top: 20px;
        margin-left: 45px;
    }
    footer .col-tablet-100 .col-tablet-60 span{
        font-size: 18px;
        line-height: 36px;
    }
}