main{
    padding-top: 30px;
}
main .index-cover{
    height: 200px;
    background-image: url("images/indexBig.png");
    background-size: cover;
    background-repeat: no-repeat;
}
main section .introduction{
    margin-top: 5px;
    background-color: rgb(243,243,243);
    padding-bottom: 3px;
}
main section .introduction p{
    font-size: 6px;
    line-height: 10px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 3px;
    margin-bottom: 0px;
    color: rgb(128,128,128);
    padding-left: 10px;
    padding-right: 10px;
}
main section .introduction p span{
    font-size: 9px;
}
main section .introduction p a{
    text-decoration: none;
    color: rgb(188,143,143);
}
main section .qrCode{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(243,243,243);
    display: flex;
    justify-content: center;
    align-items: center;
}
main section .qrCode .qrCodeTitle p{
    font-size: 10px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 3px;
    margin-bottom: 0px;
    color: rgb(128,128,128);
}
main section .qrCode .qrCodeTitle hr{
    height: 2px;
    border: none;
    background-color: rgb(188,143,143);
    width: 50px;
}
main section .qrCode span{
    display: block;
    font-size: 6px;
    text-align: center;
    font-weight: 900;
    color: rgb(128,128,128);
    letter-spacing: 2px;
}
@media(min-width:390px){
    main .index-cover{
        height: 230px;
    }
    main section .qrCode .qrCodeTitle p{
        font-size: 12px;
    }
    main section .qrCode .qrCodeTitle hr{
        height: 3px;
        width: 60px;
    }
    main section .qrCode span{
        font-size: 7px;
    }
    main section .introduction{
        padding-bottom: 3px;
    }
    main section .introduction p{
        font-size: 7px;
        line-height: 12px;
        letter-spacing: 3px;
        margin-top: 3px;
        padding-left: 15px;
        padding-right: 15px;
    }
    main section .introduction p span{
        font-size: 10px;
    }
}
@media(min-width:420px){
    main{
        padding-top: 40px;
    }
    main .index-cover{
        height: 260px;
    }
    main section .qrCode .qrCodeTitle p{
        font-size: 14px;
        font-weight: 900;
    }
    main section .qrCode .qrCodeTitle hr{
        width: 70px;
    }
    main section .qrCode span{
        font-size: 8px;
        font-weight: 900;
    }
    main section .introduction{
        padding-bottom: 5px;
    }
    main section .introduction p{
        font-size: 8px;
        line-height: 14px;
        letter-spacing: 3px;
        margin-top: 3px;
    }
    main section .introduction p span{
        font-size: 12px;
    }
}
@media(min-width:576px){
    main{
        padding-top: 54px;
    }
    main .index-cover{
        height: 360px;
    }
    main section .qrCode .qrCodeTitle{
        display: flex;
        justify-content: space-around;
    }
    main section .qrCode .qrCodeTitle p{
        font-size: 16px;
        font-weight: 900;
        margin-top: 5px;
        border-right: 3px solid rgb(188,143,143);
        display: flex;
        align-items: center;
        padding-right: 0.5em;
    }
    main section .qrCode .qrCodeTitle hr{
        display: none;
    }
    main section .qrCode .qrCodeTitle span{
        font-size: 10px;
        letter-spacing: 2px;
    }
    main section .introduction{
        padding-bottom: 5px;
    }
    main section .introduction p{
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 3px;
        margin-top: 3px;
        padding-left: 20px;
        padding-right: 20px;
    }
    main section .introduction p span{
        font-size: 14px;
    }
}
@media(min-width:768px){
    main{
        padding-top: 60px;
    }
    main .index-cover{
        height: 470px;
    }
    main section .qrCode .qrCodeTitle p{
        font-size: 16px;
        border-right: 3px solid rgb(188,143,143);
        padding-right: 1.5em;
    }
    main section .qrCode .qrCodeTitle span{
        font-size: 11px;
        letter-spacing: 4px;
        line-height: 18px;
    }
    main section .introduction{
        padding-bottom: 5px;
    }
    main section .introduction p{
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 3px;
        margin-top: 3px;
        padding-left: 25px;
        padding-right: 25px;
    }
    main section .introduction p span{
        font-size: 16px;
    }
}
@media(min-width:992px){
    main{
        padding-top: 64px;
    }
    main .index-cover{
        height: 610px;
    }
    main section .qrCode .qrCodeTitle p{
        font-size: 18px;
        border-right: 3px solid rgb(188,143,143);
        padding-right: 2.5em;
        letter-spacing: 5px;
    }
    main section .qrCode .qrCodeTitle span{
        font-size: 13px;
        letter-spacing: 5px;
        line-height: 20px;
    }
    main section .introduction{
        padding-bottom: 5px;
    }
    main section .introduction p{
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 3px;
        margin-top: 3px;
        padding-left: 30px;
        padding-right: 30px;
    }
    main section .introduction p span{
        font-size: 18px;
    }
}