.introduceSectionOne{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduceSectionOne h1{
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 6px;
    padding-top: 30px;
}
.introduceSectionOne hr{
    width: 30px;
    border: none;
    height: 2px;
    background-color: rgb(188,143,143);
    margin: 0;
}
.introduceSectionOne p{
    margin: 1em 0;
    font-size: 10px;
}
.introduceSectionOne p a{
    color: rgb(128,128,128);
    letter-spacing: 2px;
    margin: 0 3px;
    text-decoration: none;
    font-weight: 900;
    cursor: pointer;
    font-size: 10px;
}
.introduceSectionOne p .thisPageColor{
    background-color: rgb(188,143,143);
    color: #fff;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
}
.introduceSectionTwo{
    position: relative;
}
.introduceSectionTwo .imgLongBox{
    background-color: rgb(243, 243, 243);
    display: flex;
    margin-top: 25px;
}
.introduceSectionTwo .imgLongBox .col-phone-40{
    position: absolute;
    top: -12px;
    left: 35px;
}
.introduceSectionTwo .imgLongBox .col-phone-40 img{
    width: 100%;
}
.introduceSectionTwo .imgLongBox .col-phone-100{
    display: flex;
}
.introduceSectionTwo .imgLongBox .col-phone-100 h2{
    color: rgb(188,143,143);
    font-size: 12px;
    font-weight: 900;
    margin: 12px 0 0 0;
}
.introduceSectionTwo .imgLongBox .col-phone-100 p{
    font-size: 7px;
    font-weight: 900;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
}
.introduceSectionThree{
    padding: 2em 1em 1em 1em;
}
.introduceSectionThree p,.introduceSectionThree ul{
    font-size: 8px;
    font-weight: 900;
    line-height: 16px;
}
.introduceSectionThree .imgPBox{
    display: flex;
    margin-top: 20px;
}
.introduceSectionThree .imgPBox img{
    width: 13px;
    height: 12px;
    margin-right: 5px;
}
.introduceSectionThree .imgPBox p{
    margin: 0;
    letter-spacing: 2px;
    line-height: 12px;
}
@media(min-width:390px){
    .introduceSectionOne h1{
        font-size: 15px;
        letter-spacing: 2px;
        padding-top: 30px;
    }
    .introduceSectionOne hr{
        width: 38px;
        height: 3px;
    }
    .introduceSectionOne p{
        margin: 1em 0;
        font-size: 11px;
    }
    .introduceSectionOne p a{
        letter-spacing: 2px;
        margin: 0 4px;
        font-size: 11px;
    }
    .introduceSectionTwo .imgLongBox{
        margin-top: 25px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-40{
        top: -23px;
        left: 50px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 h2{
        font-size: 12px;
        margin: 12px 0 0 0;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 p{
        font-size: 7px;
        line-height: 12px;
        letter-spacing: 1px;
        margin: 10px 0 10px 0;
    }
    .introduceSectionThree{
        padding: 2em 2em 2em 2em;
    }
    .introduceSectionThree p,.introduceSectionThree ul{
        font-size: 9px;
        line-height: 16px;
    }
    .introduceSectionThree .imgPBox{
        margin-top: 10px;
    }
    .introduceSectionThree .imgPBox img{
        width: 18px;
        height: 12px;
        padding-top: 2px;
        margin-right: 6px;
    }
    .introduceSectionThree .imgPBox p{
        margin: 0;
        letter-spacing: 2px;
        line-height: 16px;
    }
}
@media(min-width:420px){
    .introduceSectionOne h1{
        font-size: 17px;
        letter-spacing: 2px;
        padding-top: 40px;
    }
    .introduceSectionOne hr{
        width: 43px;
        height: 3px;
    }
    .introduceSectionOne p{
        margin: 1.2em 0;
        font-size: 12px;
    }
    .introduceSectionOne p a{
        letter-spacing: 2px;
        margin: 0 4px;
        font-size: 12px;
    }
    .introduceSectionTwo .imgLongBox{
        margin-top: 30px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-40{
        top: -20px;
        left: 50px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 h2{
        font-size: 13px;
        margin: 18px 0 0 0;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 p{
        font-size: 8px;
        line-height: 12px;
        letter-spacing: 1px;
        margin: 15px 0 15px 0;
    }
    .introduceSectionThree{
        padding: 2.5em 2em 2em 2em;
    }
    .introduceSectionThree p,.introduceSectionThree ul{
        font-size: 10px;
        line-height: 18px;
    }
    .introduceSectionThree .imgPBox{
        margin-top: 15px;
    }
    .introduceSectionThree .imgPBox img{
        width: 20px;
        height: 14px;
        padding-top: 1px;
        margin-right: 6px;
    }
    .introduceSectionThree .imgPBox p{
        margin: 0;
        letter-spacing: 2px;
        line-height: 18px;
    }
}
@media(min-width:500px){
    .introduceSectionTwo .imgLongBox{
        margin-top: 30px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-40{
        top: -20px;
        left: 65px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 h2{
        font-size: 15px;
        margin: 20px 0 0 0;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 p{
        font-size: 9.5px;
        line-height: 15px;
        letter-spacing: 2px;
        margin: 20px 0 20px 0;
    }
}
@media(min-width:576px){
    .introduceSectionOne h1{
        font-size: 18px;
        letter-spacing: 2px;
        padding-top: 54px;
    }
    .introduceSectionOne hr{
        width: 45px;
        height: 3px;
    }
    .introduceSectionOne p{
        margin: 1.2em 0;
        font-size: 13px;
    }
    .introduceSectionOne p a{
        letter-spacing: 2px;
        margin: 0 4px;
        font-size: 13px;
    }
    .introduceSectionTwo .imgLongBox{
        margin-top: 30px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-40{
        top: -16px;
        left: 95px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 h2{
        font-size: 17px;
        margin: 25px 0 0 0;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 p{
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 2px;
        margin: 22px 0 22px 0;
    }
    .introduceSectionThree{
        padding: 3.5em 3em 3em 3em;
    }
    .introduceSectionThree p,.introduceSectionThree ul{
        font-size: 11px;
        line-height: 18px;
    }
    .introduceSectionThree .imgPBox{
        margin-top: 25px;
    }
    .introduceSectionThree .imgPBox img{
        width: 20px;
        height: 14px;
        padding-top: 1px;
        margin-right: 7px;
    }
    .introduceSectionThree .imgPBox p{
        margin: 0;
        letter-spacing: 2px;
        line-height: 18px;
    }
}
@media(min-width:768px){
    .introduceSectionOne h1{
        font-size: 20px;
        letter-spacing: 3px;
        padding-top: 60px;
    }
    .introduceSectionOne hr{
        width: 50px;
        height: 3px;
    }
    .introduceSectionOne p{
        margin: 1.3em 0;
        font-size: 15px;
    }
    .introduceSectionOne p a{
        letter-spacing: 3px;
        margin: 0 8px;
        font-size: 15px;
    }
    .introduceSectionTwo .imgLongBox{
        margin-top: 30px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-40{
        top: -22px;
        left: 125px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 h2{
        font-size: 19px;
        margin: 35px 0 0 0;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 p{
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 3px;
        margin: 35px 0 35px 0;
    }
    .introduceSectionThree{
        padding: 4.5em 4.5em 4.5em 4.5em;
    }
    .introduceSectionThree p,.introduceSectionThree ul{
        font-size: 13px;
        line-height: 20px;
    }
    .introduceSectionThree .imgPBox{
        margin-top: 25px;
    }
    .introduceSectionThree .imgPBox img{
        width: 20px;
        height: 17px;
        padding-top: 1px;
        margin-right: 7px;
    }
    .introduceSectionThree .imgPBox p{
        margin: 0;
        letter-spacing: 2px;
        line-height: 20px;
    }
}
@media(min-width:992px){
    .introduceSectionOne h1{
        font-size: 24px;
        letter-spacing: 4px;
        padding-top: 64px;
    }
    .introduceSectionOne hr{
        width: 55px;
        height: 4px;
    }
    .introduceSectionOne p{
        margin: 1.6em 0;
        font-size: 18px;
    }
    .introduceSectionOne p a{
        letter-spacing: 4px;
        margin: 0 16px;
        font-size: 18px;
    }
    .introduceSectionTwo .imgLongBox{
        margin-top: 30px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-40{
        top: -32px;
        left: 145px;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 h2{
        font-size: 21px;
        margin: 45px 0 0 0;
    }
    .introduceSectionTwo .imgLongBox .col-phone-100 p{
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 5px;
        margin: 45px 0 45px 0;
    }
    .introduceSectionThree{
        padding: 5.5em 5.5em 5.5em 5.5em;
    }
    .introduceSectionThree p,.introduceSectionThree ul{
        font-size: 18px;
        line-height: 30px;
    }
    .introduceSectionThree .imgPBox{
        margin-top: 25px;
    }
    .introduceSectionThree .imgPBox img{
        width: 22px;
        height: 24px;
        padding-top: 4px;
        margin-right: 12px;
    }
    .introduceSectionThree .imgPBox p{
        margin: 0;
        letter-spacing: 3px;
        line-height: 30px;
    }
}