nav{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    z-index: 11;
}
nav .nav-btn{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    padding: 9px;
    cursor: pointer;
}
nav .nav-btn .fa-solid{
    font-size: 12px;
}
nav .navTitleLink{
    background-image: url("images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 70%;
    margin: 0;
    cursor: pointer;
}
nav .navTitleLink h1{
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
nav .nav-ul{
    position: absolute;
    list-style: none;
    top: 30px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
nav .nav-ul li{
    padding: 5px 5px 5px 10px;
}
nav .nav-ul li a{
    text-decoration: none;
    font-weight: 900;
    color: #000;
    letter-spacing: 5px;
    display: block;
    padding: 4px 10px 6px 20px;
    font-size: 8px;
    line-height: 0px;
}
nav .nav-ul li a:hover{
    background-color: rgb(188,143,143);
    color: #fff;
    border-radius: 5px;
}
nav .nav-ul li .thisPageColor{
    color: rgb(188,143,143);
}
@media(min-width:390px){
    nav .navTitleLink{
        width: 29%;
        height: 75%;
    }
}
@media(min-width:420px){
    nav{
        height: 40px;
    }
    nav .nav-btn{
        width: 40px;
        height: 40px;
        padding: 13px;
    }
    nav .nav-btn .fa-solid{
        font-size: 14px;
    }
    nav .navTitleLink{
        width: 30%;
        height: 68%;
    }
    nav .nav-ul{
        top: 40px;
    }
    nav .nav-ul li a{
        padding: 5px 10px 10px 20px;
        font-size: 10px;
        line-height: 0px;
    }
}
@media(min-width:576px){
    nav{
        height: 54px;
    }
    nav .nav-btn{
        width: 54px;
        height: 54px;
        padding: 18px;
    }
    nav .nav-btn .fa-solid{
        font-size: 18px;
    }
    nav .nav-ul{
        top: 54px;
    }
    nav .nav-ul li a{
        padding: 8px 10px 10px 20px;
        font-size: 12px;
    }
}
@media(min-width:768px){
    nav{
        height: 60px;
    }
    nav .nav-btn{
        width: 60px;
        height: 60px;
        padding: 20px;
    }
    nav .nav-btn .fa-solid{
        font-size: 20px;
    }
    nav .navTitleLink{
        width: 28%;
        height: 73%;
    }
    nav .nav-ul{
        top: 60px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    nav .nav-ul li{
        padding: 7px 7px 7px 15px;
    }
    nav .nav-ul li a{
        font-size: 14px;
        line-height: 12px;
    }
}
@media(min-width:992px){
    nav{
        height: 64px;
    }
    nav .navTitleLink{
        width: 20%;
        height: 65%;
    }
    nav .nav-btn{
        display: none;
    }
    nav .nav-ul{
        display: block !important;
        width: auto;
        right: 0;
        background-color: transparent;
        top: 0;
        position: static;
    }
    nav .nav-ul li{
        float: left;
        padding: 5px 5px 5px 0px;
    }
}