.sectionOne{
    z-index: 10;
    line-height: 0;
    width: 100%;
    margin-top: -30px;
    padding-bottom: 2px;
    display: flex;
    position: fixed;
    top: 60px;
    background-color: #fff;
}
.sectionOne .btnContainer{
    display: flex;
    justify-content: right;
}
.sectionOne .btnContainer button{
    font-weight: 900;
    font-size: 5px;
    letter-spacing: 1px;
    background-color: rgb(182,182,182);
    padding: 2px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px #000;
    border-width: 0px;
}
.sectionOne .btnContainer button a{
    color: #fff;
    text-decoration: none;
}
.sectionTwo{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    overflow-x: hidden;
    height: 1500px;
}
.sectionTwo .sectionTwo1{
    border-left: 3px solid rgb(182,182,182);
}
.sectionTwo .sectionTwo2{
    padding-top: 25px;
    border-left: 3px solid rgb(182,182,182);
}
.sectionTwo .sectionTwo3{
    padding-top: 25px;
    border-left: 3px solid rgb(182,182,182);
}
.sectionTwo .sectionTwo4{
    padding-top: 25px;
    border-left: 3px solid rgb(182,182,182);
}
.sectionTwo .row{
    margin-bottom: 10px;
    position: relative;
}
.sectionTwo .row .fourTitle{
    position: sticky;
    margin-left: 5px;
    border: 2px dashed rgb(182,182,182);
    background-color: #fff;
    width: 35px;
    text-align: center;
    font-size: 4px;
    font-weight: 900;
    color: rgb(182,182,182);
}
.sectionTwo .row .fourTitle p{
    margin: 0;
    letter-spacing: 2px;
}
.sectionTwo .row .boxFlex{
    display: flex;
    padding-left: 10px;
}
.sectionTwo .row .boxFlex img{
    width: 100%;
}
.sectionTwo .row .col-phone-20{
    padding-top: 5px;
}
.sectionTwo .row .col-phone-65{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.sectionTwo .row .col-phone-65 .articleTitle{
    font-size: 8px;
    color: rgb(188,143,143);
    padding-left: 10px;
    margin: 5px 0;
    font-weight: 900;
    letter-spacing: 1px;
}
.sectionTwo .row .articleLeftTitle .articleTitle{
    padding-left: 0;
}
.sectionTwo .row .col-phone-65 hr{
    background-color: rgb(188,143,143);
    height: 1px;
    border: none;
    margin: 0;
}
.sectionTwo .row .col-phone-65 .articleBox{
    padding-left: 30px;
}
.sectionTwo .row .col-phone-65 .articleBox .allArticle,.sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft{
    display: none;
}
.sectionTwo .row .col-phone-65 .articleBox .article,
.sectionTwo .row .col-phone-65 .articleBox .article p,
.sectionTwo .row .col-phone-65 .articleBox .allArticle p,
.sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft,
.sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft p,
.sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p{
    font-size: 6px;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 900;
}
.sectionTwo .row .col-phone-65 .articleBox .article span,
.sectionTwo .row .col-phone-65 .articleBox .allArticle p span,
.sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft span,
.sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p span{
    color: rgb(188,143,143);
    font-size: 6px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 12px;
    cursor: pointer;
}
@media(min-width:420px){
    .sectionOne{
        position: fixed;
        width: 100%;
        margin-top: -20px;
        padding-bottom: 3px;
        background-color: #fff;
    }
    .sectionOne .btnContainer button{
        font-size: 6px;
        letter-spacing: 1.5px;
        padding: 2.5px;
    }
    .sectionTwo{
        padding-top: 20px;
        margin: 0;
    }
    .sectionTwo .row .boxFlex{
        padding-left: 10px;
    }
    .sectionTwo .row .fourTitle{
        position: sticky;
        border: 2px dashed rgb(182,182,182);
        background-color: #fff;
        top: 15px;
        width: 40px;
        font-size: 4px;
        text-align: center;
    }
    .sectionTwo .row .col-phone-65 hr{
        height: 2px;
    }
    .sectionTwo .row .col-phone-65 .articleTitle{
        font-size: 9px;
        padding-left: 15px;
        letter-spacing: 2px;
    }
    .sectionTwo .row .articleLeftTitle .articleTitle{
        padding-left: 0;
    }
    .sectionTwo .row .col-phone-65 .articleBox .article,
    .sectionTwo .row .col-phone-65 .articleBox .article p,
    .sectionTwo .row .col-phone-65 .articleBox .allArticle p,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft p,
    .sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p{
        font-size: 7px;
    }
    .sectionTwo .row .col-phone-65 .articleBox .article span,
    .sectionTwo .row .col-phone-65 .articleBox .allArticle p span,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft span,
    .sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p span{
        font-size: 7px;
    }
}
@media(min-width:576px){
    .sectionOne{
        position: fixed;
        width: 100%;
        margin-top: -6px;
        padding-bottom: 5px;
        background-color: #fff;
    }
    .sectionOne .btnContainer button{
        font-size: 7px;
        letter-spacing: 2.5px;
        padding: 4px;
    }
    .sectionTwo{
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .sectionTwo .row .fourTitle{
        font-size: 8px;
        position: sticky;
        border: 3px dashed rgb(182,182,182);
        background-color: #fff;
        top: 25px;
        width: 65px;
        text-align: center;
    }
    .sectionTwo .row .fourTitle p{
        margin: 0;
        letter-spacing: 2px;
    }
    .sectionTwo .row .col-phone-65 .articleTitle{
        font-size: 14px;
        padding-left: 25px;
    }
    .sectionTwo .row .articleLeftTitle .articleTitle{
        padding-left: 0;
    }
    .sectionTwo .row .col-phone-65 .articleBox{
        padding-left: 60px;
    }
    .sectionTwo .row .col-phone-65 .articleBox .article,
    .sectionTwo .row .col-phone-65 .articleBox .article p,
    .sectionTwo .row .col-phone-65 .articleBox .allArticle p,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft p,
    .sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p{
        font-size: 11px;
        letter-spacing: 2px;
    }
    .sectionTwo .row .col-phone-65 .articleBox .article span,
    .sectionTwo .row .col-phone-65 .articleBox .allArticle p span,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft span,
    .sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p span{
        font-size: 11px;
        line-height: 20px;
    }
}
@media(min-width:768px){
    .sectionOne{
        position: fixed;
        width: 100%;
        margin-top: 0;
        padding-bottom: 5px;
        background-color: #fff;
    }
    .sectionOne .btnContainer button{
        font-size: 9px;
        letter-spacing: 3px;
        padding: 4.5px;
    }
    .sectionTwo{
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
    }
    .sectionTwo .row .fourTitle{
        font-size: 11px;
        position: sticky;
        border: 3px dashed rgb(182,182,182);
        background-color: #fff;
        top: 30px;
        width: 85px;
        text-align: center;
    }
    .sectionTwo .row .fourTitle p{
        margin: 0;
        letter-spacing: 2px;
    }
    .sectionTwo .row .col-phone-65 .articleTitle{
        font-size: 16px;
        padding-left: 30px;
        letter-spacing: 4px;
    }
    .sectionTwo .row .articleLeftTitle .articleTitle{
        padding-left: 0;
    }
    .sectionTwo .row .col-phone-65 .articleBox{
        padding-left: 70px;
    }
    .sectionTwo .row .col-phone-65 .articleBox .article,
    .sectionTwo .row .col-phone-65 .articleBox .article p,
    .sectionTwo .row .col-phone-65 .articleBox .allArticle p,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft p,
    .sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p{
        font-size: 12px;
        letter-spacing: 3px;
    }
    .sectionTwo .row .col-phone-65 .articleBox .article span,
    .sectionTwo .row .col-phone-65 .articleBox .allArticle p span,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft span,
    .sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p span{
        font-size: 12px;
        line-height: 24px;
    }
}
@media(min-width:810px){
    .sectionTwo{
        padding-top: 25px;
    }
    .sectionTwo .row .fourTitle{
        top: 30px;
    }
}
@media(min-width:992px){
    .sectionOne{
        position: fixed;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fff;
    }
    .sectionOne .btnContainer{
        width: 100%;
        justify-content: center;
    }
    .sectionOne .btnContainer button{
        font-size: 11px;
        letter-spacing: 4px;
        padding: 5.5px;
    }
    .sectionTwo{
        margin: 0px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .sectionTwo .row .fourTitle{
        font-size: 13px;
        position: sticky;
        border: 4px dashed rgb(182,182,182);
        background-color: #fff;
        top: 35px;
        width: 90px;
        text-align: center;
    }
    .sectionTwo .row .fourTitle p{
        margin: 0;
        letter-spacing: 2px;
    }
    .sectionTwo .row .col-phone-65 hr{
        height: 3px;
    }
    .sectionTwo .row .col-phone-65 .articleTitle{
        font-size: 20px;
        padding-left: 40px;
        letter-spacing: 6px;
    }
    .sectionTwo .row .articleLeftTitle .articleTitle{
        padding-left: 0;
    }
    .sectionTwo .row .col-phone-65 .articleBox{
        padding-left: 90px;
    }
    .sectionTwo .row .col-phone-65 .articleBox .article,
    .sectionTwo .row .col-phone-65 .articleBox .article p,
    .sectionTwo .row .col-phone-65 .articleBox .allArticle p,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft p,
    .sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p{
        font-size: 16px;
        letter-spacing: 5px;
    }
    .sectionTwo .row .col-phone-65 .articleBox .article span,
    .sectionTwo .row .col-phone-65 .articleBox .allArticle p span,
    .sectionTwo .row .col-phone-65 .articleLeftBox .articleLeft span,
    .sectionTwo .row .col-phone-65 .articleLeftBox .allArticleLeft p span{
        font-size: 16px;
        line-height: 30px;
    }
}